.card {
    user-select: none;
    margin: 8px;
    padding: 16px;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px 3px rgba($color: #000000, $alpha: 0.3);
    text-align: left;
}

.name {
    color: rgb(9, 87, 75);
}

.id {
    color: rgb(186, 186, 4);
}

.city {
    color: rgb(125, 89, 5);
}